/* styling.css */

body {
    margin: 0;
    overflow: hidden;
    background-color: #87CEEB; /* Light blue background color */
}

#noiseStrengthSlider,
#colorPicker {
    position: absolute;
    width: 200px;
}

#noiseStrengthSlider {
    top: 10px;
    left: 10px;
}

#colorPicker {
    top: 40px;
    left: 10px;
}
